/* Global */
html {
    font-weight: normal;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #f1f7fc;
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px;
}

.picture{
    position: relative;
    border: 3px solid black;
    border-radius: 10px;
    width: 400px;
    left: 450px;
}

.posted{
    width: 400px;
    height: 400px;
}

.figure-value{
    position: relative;
    float: right;
    right: 2px;
}

.figure-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.map-btn {
    position: relative;
    height: 22px;
    color: white;
    background-color:  rgb(134, 130, 130);
    border: 1px solid black;
    border-radius: 5px; 
}

.comments-btn {
    position: relative;
    height: 22px;
    color: white;
    background-color:  rgb(134, 130, 130);
    border: 1px solid black;
    border-radius: 5px; 
}
/* index */
.navbar {
    position: fixed;
    width: 100%;
    height: 120px;
    margin-bottom: 50px;
    z-index: 2;
}

#teamName{
    font-size: xx-large;
    font-weight: bold;
}
.header-title {
    position: relative;
    top: 30px;
    left: 25px;
    text-align: left;
    color: #62abcc;
    font-size: 40px;
    font-weight: bold;
    text-anchor: initial;
    text-decoration: none;
}

.header-description {
    position: relative;
    top: 30px;
    left: 25px;
    color: white;
    font-size: 15;
    font-weight: bold; 
}

.content-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}


.dropdown-container {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%; /* Bottom of button */
    right: 0;
    margin-left: -100px; /* More to the left */
  }


#weather {
    position: relative;
    float: right;
    color: white;
    top: -5px;
    right: -230px;
}

#weather-icon {
    position: relative;
    float: right;
    right: -225px;
    top: -20px;
    width: 45px;
}

.img-max {
    max-width: 45%;
    max-height: 45%;
    display: block;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
  }



.page-title {
    position: relative;
    left: 100px;
    top: -20px;
    font-size: 50px;
    font-weight: bold;
}

.upload {
    position: relative;
    float: right;
    left: 100px;
    
}

#uploadImg {
    color: white;
    background-color:  rgb(134, 130, 130);
    border: 1px solid black;
    border-radius: 10px;
}

#submitBtn {
    color: white;
    background-color:  rgb(134, 130, 130);
    border: 1px solid black;
    border-radius: 10px;
}

.cancelBtn {
    color: white;
    background-color:  rgb(134, 130, 130);
    border: 1px solid black;
    border-radius: 10px;
}

.container-port {
    width:100%;
    min-height:400px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.allPosts {
    position: relative;
    top: 50px;
    height: 100%;
    color: white;
    float: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40px;
}

.expanded-images {
    position: relative;
    top: 150px;
}


.card-body {
    background-color:#163c61;
}


.user-header {
    background-color: #163c61;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.user-header-text {
    position: relative;
    left: 5px;
    text-align: left;
}

.user-header-capacity {
    position: relative;
    right: 5px;
    float: right;
}

.user-image {
    width: 100%;
    display: block;
}

.user-button-panel {
    background-color: #163c61;
}


.user-time {
    position: relative;
    top: 3px;
    text-align: center;
}

.map-submit-location-btn {
    color: white;
    background-color:  rgb(134, 130, 130);
    border: 1px solid black;
    border-radius: 5px; 
    margin-top: 20px;
}

.newPostItem {
    margin-bottom: 15px;
}

#createPost {
    width: 500px;
    padding: 15px;
    border: 5px solid #163c61;
    border-radius: 5px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 0px;
}

#sportInput {
    float: right;
    width: 188px;
}

#capacityInput {
    float: right;
    width: 180px;
}

#locationInput {
    float: right;
    width: 180px;
}

.aligncenter {
    text-align: center;
}